@page
@model Ultra77Razor.Areas.Admin.Pages.Options.EditModel

<form method="post">

    <input asp-for="@Model.Option.Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info p-lg-3">Изменить характеристику</h2>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.Option.Name">Название</label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.Option.Name" class="form-control" />
                <span asp-validation-for="@Model.Option.Name" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.Option.Description">Описание</label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.Option.Description" class="form-control" />
                <span asp-validation-for="@Model.Option.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label>Товары, для которых применяется характеристика</label>
            <div class="col-8">
                @for (int i = 0; i < Model.Products.Count; i++)
                {
                    <input type="hidden" asp-for="Products[i].Id" />
                    <label asp-for="Products[i].IsChecked">@Model.Products[i].Name</label>
                    if (Model.Products[i].IsChecked)
                    {
                        <input asp-for="Products[i].IsChecked" checked />
                    }
                    else
                    {
                        <input asp-for="Products[i].IsChecked" />
                    }
                }
            </div>
        </div>
        <div class="form-group row">

@*            @if (Model.Option.OptionDetails.Count > 0)
            {*@
                <label>Варианты характеристики @Model.Option.Name</label>
                <div class="col-8">
                    @for (int i = 0; i < Model.Option.OptionDetails.Count; i++)
                    {
                        <div><label>@Model.Option.OptionDetails[i].Name </label></div>
                    }
                    <br />
                    <a asp-page="OptionDetails/Index" asp-route-id="@Model.Option.Id">Подробнее</a>
                </div>
@*            }*@

        </div>
        <div class="form-group row">
            <div class="col-8 offset-4 row">

                <div class="col">
                    <input type="submit" class="btn btn-info w-100" value="Изменить" />
                </div>
                <div class="col">
                    <a asp-page="Index" class="btn btn-success w-100">
                        Назад
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
