@page
@model Ultra77Razor.Areas.Admin.Pages.Category.DeleteModel

<form method="post" enctype="multipart/form-data">
    <input asp-for="@Model.Category.Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info p-lg-3">Удалить категорию</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Category.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Category.Name" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Category.Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Category.Description" disabled class="form-control" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Удалить" />
                        </div>
                        <div class="col">
                            <a asp-page="Index" class="btn btn-success w-100">
                                Назад
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</form>

@section Scripts
{
        <partial name="_ValidationScriptsPartial" />
}