@page
@model Ultra77Razor.Areas.Admin.Pages.Category.EditModel
@using UpakUtilitiesLibrary
@using UpakUtilitiesLibrary.Utility.Extentions

<form method="post" enctype="multipart/form-data">

    <input asp-for="@Model.Category.Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info p-lg-3">Изменить категорию</h2>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.Category.Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.Category.Name" class="form-control" />
                <span asp-validation-for="@Model.Category.Name" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.Category.Description"></label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.Category.Description" class="form-control" />
                <span asp-validation-for="@Model.Category.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
            </div>
            <div class="col-8">
                <input type="file" name="files" id="uploadBox" multiple class="form-control" />
            </div>
        </div>


        <div class="form-group row">
            <div class="col-8 offset-4 row">

                <div class="col">
                    <input type="submit" class="btn btn-info w-100" value="Изменить" />
                </div>
                <div class="col">
                    <a asp-page="Index" class="btn btn-success w-100">
                        Назад
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4">
            @if (Model.Category != null)
            {
                <img src="@Model.Category.Image?.DataArrayToImageUrl()"
                 width="100%" style="border-radius:5px;border:1px solid #bbb" />
            }
        </div>
    </div>
</form>
@if (Model.Files != null)
{
    @foreach (var file in Model.Files)
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>

                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <input type="hidden" asp-for="@file" />
                    <td><img src="~/img/categories/@Model.Category.Name/@file.Name" style="width:100px;height:auto;" /></td>
                    <td><a href="~/img/@file.Name" download="@file.Name">Скачать</a></td>
                    <td>
                        <form asp-page-handler="Delete" asp-route-imageName="@file.Name">
                            <input type="hidden" asp-for="Category.Name"/>
                            <input type="hidden" asp-for="Category.Id" />
                            <button type="submit" class="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    }
}

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire(
                    'Ошибка!',
                    'Пожалуйста, загрузите изображение',
                    'error'
                )
                return false;
            }
            return true;
        }
    </script>
} 