@page "/newproduct/{Id:int}"
@using Microsoft.AspNetCore.Components.Forms
@using UpakUtilitiesLibrary.Utility.Extentions
@using Microsoft.AspNetCore.Components

    <EditForm Model="@thisShopProduct" method="post" class="product-maincard">
        <div class="imgcard cardside">
            <p>@Product.Name</p>
            <img src="@Product.Image?.DataArrayToImageUrl()" alt="">
            @if (retailprice != 0)
            {
                <p>@retailprice</p>
            }
        </div>
        <div class="navcard cardside">
            <div class="number">
                <div class="number-input">

                    @*<input type="number" value="@countThisProducts" />*@
                    <label>@countThisProducts</label>

                    <span class="text-danger"></span>
                </div>
                <div class="number-label">
                    <p>ШТ.</p>
                </div>
                <div class="number-buttons">

                    <button @onclick="@(e=>countThisProducts++)" class="number-plus">+</button>
                    <button @onclick="StepDown" class="number-minus">-</button>
                </div>
            </div>
            <div class="nav-buttons">
                <a class="submit nav-button " href="#"><p>Комплектация</p></a>
                <button class="submit nav-button" type="submit"><p>Добавить</p></button>
            </div>
        </div>
        <div class="aboutproduct cardside">
            @Product.Description
        </div>
        <br />
        <div class="row">

            <div class="row">
                <div class="col">
                    <label for="select-product">Выберите</label>
                </div>
                <div class="col">
                    <select id="select-product">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
        </div>

    </EditForm>

@code {
    private void StepUp()
    {
        countThisProducts++;
    }
    private void StepDown()
    {
        if (countThisProducts++ > 1)
        {
            countThisProducts--;
        }
    }
}