@page "{id}"
@using UpakUtilitiesLibrary.Utility.Extentions
@model Ultra77Razor.Pages.ProductModel

 <form method="post" class="product-maincard">
     <input asp-for="@Model.Product.Id" hidden />
     <div  class="imgcard cardside">
        <p>@Model.Product.Name</p>
        <img src="@Model.Product.Image.DataArrayToImageUrl()" alt="">
        <p>@string.Format("{0:c0}",Model.Product.RetailPrice)</p>
        </div>
      <div class="navcard cardside">
        <div class="number">
          <div class="number-input">
              <input type="number" min="1" value="1" asp-for="@Model.Product.TempCount"/>
              <span asp-validation-for="@Model.Product.TempCount" class="text-danger"></span>
          </div>
          <div class="number-label">
            <p>ШТ.</p>
          </div>
          <div class="number-buttons">
            <button class="number-minus" type="button"
              onclick="this.parentNode.parentNode.querySelector('input[type=number]').stepUp();"><P>+</P></button>
            <button class="number-plus" type="button"
              onclick="this.parentNode.parentNode.querySelector('input[type=number]').stepDown(); "><p>-</p></button>
          </div>
        </div>
        <div class="nav-buttons">
            @*<a class="submit nav-button " href="#" ><p>Комплектация</p></a>*@
            <button class="submit nav-button" type="submit"><p>Добавить</p></button>
        </div>
      </div>
      <div class="aboutproduct cardside">
        @Html.Raw(Model.Product.Description)
        <br/>
        <div class="row">
            @if(Model.Options is not null||Model.Options.Count>0)
            {
                foreach (var item in Model.Options)
                {
                    
                }
            }
        </div>
        
</form>