@page "{id}"
@using UpakUtilitiesLibrary.Utility.Extentions
@model Ultra77Razor.Pages.ProductModel

 <form method="post" class="product-maincard">
     <input asp-for="@Model.Product.Id" hidden />
     <div  class="imgcard cardside">
        <p>@Model.Product.Name</p>
        <img src="@Model.Product.Image.DataArrayToImageUrl()" alt="">
        <p>@string.Format("{0:c0}",Model.Product.RetailPrice)</p>
        </div>
      <div class="navcard cardside">
        <div class="number">
          <div class="number-input">
              <input type="number" min="1" value="1" asp-for="@Model.Product.TempCount"/>
              <span asp-validation-for="@Model.Product.TempCount" class="text-danger"></span>
          </div>
          <div class="number-label">
            <p>ШТ.</p>
          </div>
          <div class="number-buttons">
            <button class="number-minus" type="button"
              onclick="this.parentNode.parentNode.querySelector('input[type=number]').stepUp();"><P>+</P></button>
            <button class="number-plus" type="button"
              onclick="this.parentNode.parentNode.querySelector('input[type=number]').stepDown(); "><p>-</p></button>
          </div>
        </div>
        <div class="nav-buttons">
            @*<a class="submit nav-button " href="#" ><p>Комплектация</p></a>*@
            <button class="submit nav-button" type="submit"><p>Добавить</p></button>
        </div>
      </div>
      <div class="aboutproduct cardside">
        @Html.Raw(Model.Product.Description)
        <br/>
        <div class="row">
            @if(Model.Options is not null||Model.Options.Count>0)
            {
                for (int i=0;i<Model.Options.Count;i++)
                {
@*                    if (Model.Options[i] is not null && Model.Options[i].OptionDetails is not null && Model.Options[i].OptionDetails.Count == 1)
                    {
                        <div class="row">
                            <div class="col">
                                <label  for="select-product">@Model.Options[i].Name</label>
                            </div>
                            <div class="col">
                                <input asp-for="Values[i]" class="form-control" readonly disabled id="@Model.Options[i].OptionDetails[0].Name" name="@Model.Options[i].OptionDetails[0].Name" value="@Model.Options[i].OptionDetails[0].Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="select-product">@Model.Options[i].Name</label>
                            </div>
                            <div class="col">
                                <select asp-for="Values[i]" class="form-select" disabled readonly>
                                    <option selected value="@Model.Options[i].OptionDetails[0].Name">@Model.Options[i].OptionDetails[0].Name</option>
                            </select>
                            </div>
                        </div>
                    }*@
                    if (Model.Options[i] is not null && Model.Options[i].OptionDetails is not null && Model.Options[i].OptionDetails.Count >= 1)
                    {
                        <div class="row">
                            <div class="col">
                                <label for="select-product">@Model.Options[i].Name</label>
                            </div>
                            <div class="col">
                                <select asp-for="Values[i]" class="form-select" asp-items="@Model.ListItems[i]"></select>
                            </div>
                        </div>
                    }
                    
                }
            }
        </div>
        
</form>